// 홈페이지 디자인을 위한 CSS 파일
// @author 은정
div#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
div#content 
{
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #000000;  
    width: auto;
    margin: 0px auto;
}

div#booklist
{
    float:left;
    background-color:#D5D5D5;
    width: 500px;   
}
div#member
{ 
    border: 3px solid silver;
    width: 250px;
}